dark-blue = hsla(206, 100%, 15%, 1);
blue = hsla(197, 69%, 29%, 1);
light-tan = hsla(43, 100%, 90%, 1);
orange = hsla(33, 100%, 53%, 1);
red = hsla(20, 100%, 42%, 1);
text-lt-bg = hsla(0, 0%, 25%, 1);
