.global-header-wrap
  margin auto auto auto auto
  position absolute
  top 0
  width 100%
  z-index 3

.global-header
  border-bottom 1px solid rgba(white,.3)
  height 150px
  margin auto auto
  max-width 90%
  padding 2%
  position relative
  @media only screen and (min-width : medium)
    height 70px
    max-width 960px
    min-width 800px

  .brand
    color white
    font-family 'sirin', sans-serif
    font-size 5rem
    text-decoration none
    display inline-block
    @media only screen and (min-width : medium)
      font-size 2rem
    .logo
      max-width 70px
      position absolute
      top 20%
      @media only screen and (min-width : medium)
        max-width 30px
    .logo-text
      top 20%
      position absolute
      left 15%
      @media only screen and (min-width : medium)
        top 15%
        left 8%

  .enter
    color white
    display inline-block
    right 0
    top 30%
    font-size 2.2rem
    text-decoration none
    padding 1.5rem 2.5rem
    position absolute
    border-radius 40px
    border 1px solid rgba(white,.3)
    transition background-color .2s ease
    &:hover
      background-color rgba(white,.3)
    &:focus
      outline none
    @media only screen and (min-width : medium)
      font-size 1rem
      padding .5rem 1rem
      right 2%
      top 22%

  .account
    .profpic
      border-radius 50%
      box-shadow inset 1px 1px 2px rgba(255,255,255,0.1), 0px 2px 4px rgba(0,0,0,0.4)
      max-width 100px
      position absolute
      right 2%
      top 20%
      @media only screen and (min-width : medium)
        max-width 40px
