html

body
  background #fffff8
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-family 'Open Sans', sans-serif
  font-size 2rem

h1
  font-family 'sirin', sans-serif;
  text-align center
  font-weight normal
  margin 0
  font-size 8rem
  @media only screen and (min-width : 992px)
    font-size 5rem

h2,h3,h4,h5,h6
  font-weight normal
  font-family 'Nunito-Bold', sans-serif

h2
  text-align center
  margin-top 0
  margin-bottom 2rem

h3
  font-size 3rem
