html
  font-size 13px
  @media only screen and (min-width : small)
   font-size 15px
   @media only screen and (min-width : medium)
    font-size 17px

h1
  font-family 'sirin', sans-serif;
  text-align center
  font-weight normal
  margin 0
  font-size 8rem
  @media only screen and (min-width : medium)
    font-size 6rem

h2,h3,h4,h5,h6
  font-weight normal
  font-family 'Nunito-Bold', sans-serif

h2
  text-align center
  margin-top 0
  margin-bottom 2rem
  font-size 5rem
  @media only screen and (min-width : medium)
    font-size 3rem

h3
  font-size 3rem
  font-weight lighter
  @media only screen and (min-width : medium)
    font-size 1.8rem

h4
  font-size 3rem
  font-weight bolder
  text-transform uppercase
  margin 0 auto
  text-align left
  @media only screen and (min-width : medium)
    font-size 1.5rem
