// Import all partials
@require './_*.styl'

body
  background dark-blue
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-family 'Nunito-Regular', sans-serif
  font-size 1rem

header.top
  text-align center
  h1
    font-size 14.4rem
    line-height 0.7 // this font has a wacky baseline
    display flex
    justify-content: center;
  h3
    margin 0
    font-size 2rem
    color orange
    position relative
    display inline-block
    span
      background white
      position relative
      z-index 2
      padding-left 1rem
      padding-right 1rem
    &:before, &:after
      display block
      z-index 1
      background black
      position absolute
      width 130%
      height 1px
      content ''
      top 5px
      margin-left -15%
    &:after
      top auto
      bottom 7px

.heyday
  background-color white
  height 100vh
  width 100vw
  margin 0

  & > *
    position relative
    overflow scroll

.background-image
  background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG');
  background-size: cover;
  display: block;
  filter: blur(20px);
  height: 100vh
  left: 0;
  position: fixed;
  right 0
  top 0
  width 100vw
  z-index 0

.background-overlay
  background rgba(blue,0.2)
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top 0
  width: 100%
  z-index 0

button, input[type=submit] // for auth
  background none
  border 1px solid black
  box-shadow: inset 1px 1px 2px rgba(255,255,255,0.1), 0px 2px 4px rgba(0,0,0,0.4)
  font-size 1.5rem
  font-family 'nunito_regular'
  position relative
  z-index 2
  &[disabled]
    color red
    background white
    border-color red
    &:hover
      color red
      cursor not-allowed
    &:after
      display none
  &:after
    content ''
    z-index -1
    display block
    background black
    position absolute
    width 100%
    height 0%
    left 0
    top 0

  // variants
  &.warning
    &:after
      background red
  &.success
    &:after
      background green

  &.view-tour-list-button
    background-image linear-gradient(to bottom, lighten(red, 40%), red)
    border 0
    border-radius 10px
    bottom 10%
    box-shadow: inset 1px 1px 0 rgba(255,255,255,0.1),2px 2px 6px rgba(0,0,0,0.4)
    color white
    padding 1rem 1.5rem
    position absolute
    right 10%
    text-align center
    text-shadow 0 -1px 0 rgba(0,0,0,0.2)
    transition transform 0.2s ease-out
    @media only screen and (min-width : medium)
      bottom 15%
      right 30%

    &:hover,
    &:focus
      background-image linear-gradient(to bottom, lighten(red, 50%), lighten(red, 10%))
      border-radius 10px
      transform scale(1.05, 1.05)
      transform-origin center
    &:active
      background-image linear-gradient(to bottom, lighten(red, 20%), red)
      outline-width 0
      transform scale(.95, .95)

    .login-label
      display inline-block
      font-size 2.5rem
      vertical-align text-bottom
      @media only screen and (min-width : medium)
        font-size 1.3rem
        vertical-align text-top

  &.facebook-login
    background-image linear-gradient(to bottom, lighten(#3864A3, 40%), #3864A3)
    border 0
    border-radius 10px
    bottom 10%
    box-shadow: inset 1px 1px 0 rgba(255,255,255,0.1),2px 2px 6px rgba(0,0,0,0.4)
    color white
    padding 1rem 1.5rem
    position absolute
    right 10%
    text-align center
    text-shadow 0 -1px 0 rgba(0,0,0,0.2)
    transition transform 0.2s ease-out
    @media only screen and (min-width : medium)
      bottom 15%
      right 30%

    &:hover,
    &:focus
      background-image linear-gradient(to bottom, lighten(#3864A3, 50%), lighten(#3864A3, 10%))
      border-radius 10px
      transform scale(1.05, 1.05)
      transform-origin center
    &:active
      transform scale(.9, .9)
      background-image linear-gradient(to bottom, lighten(#3864A3, 20%), #3864A3)

.intro-header
  background url(./images/inside_columns.jpeg)
  background-repeat no-repeat
  background-size cover
  min-height 40vh
  position relative
  width 100%
  @media only screen and (min-width : medium)
    min-height 65vh
    background-position 0 60%

.hero-img-overlay
    position absolute
    width 100%
    height 100%
    background-color hsla(black 0.5)

.logo-wrap
    bottom 5%
    left 5%
    position absolute
    z-index 1
    @media only screen and (min-width : medium)
      left 20%

.logo-name
  color white
  font-family 'sirin', sans-serif
  font-size 8rem
  line-height 8.5rem

.logo-tagline
  color rgba(white 0.5)
  font-family 'Nunito-Bold', sans-serif
  font-size 3rem
  line-height 3.2rem
  @media only screen and (min-width : medium)
    font-size 2rem

.benefit-statement
    position absolute
    z-index 2
    top 10%
    font-family 'Nunito-Bold', sans-serif
    font-size 3rem
    line-height 3.3rem
    text-align center
    width 100%
    padding 0 5%
    @media only screen and (min-width : medium)
      font-size 2rem
      top 20%

.benefit
  height 25vh
  position relative
  width 100%
  @media only screen and (min-width : medium)
    max-width 700px
    height 400px

  &.benefit-1
    background url(./images/louvre.jpg)
    background-size cover
    background-repeat no-repeat
    @media only screen and (min-width : medium)
      margin 2% 40% 2% auto

  &.benefit-2
    background url(./images/people-hand-iphone-smartphone.jpg)
    background-size cover
    background-repeat no-repeat
    @media only screen and (min-width : medium)
      margin 2% auto

  &.benefit-3
    background url(./images/colusseum.jpg)
    background-size cover
    background-repeat no-repeat
    @media only screen and (min-width : medium)
      margin 2% auto 2% 40%

  .benefit-img-overlay,
  .benefit-img-overlay-2
    position absolute
    width 100%
    height 100%

.benefit-img-overlay
  background-image linear-gradient(to right, rgba(dark-blue, 1) 2%, rgba(dark-blue, 0.2), rgba(dark-blue, 1) 98%)

.benefit-img-overlay-2
  background-image linear-gradient(to bottom, rgba(dark-blue, 1) 2%, rgba(dark-blue, 0.2), rgba(dark-blue, 1) 98%)

.benefit-statement
  color white

.login-label
  display inline-block
  font-size 2.5rem
  vertical-align text-bottom
  @media only screen and (min-width : medium)
    font-size 1.3rem
    vertical-align text-top

.login-icon
  display inline-block
  padding-right 20px
  border-right 1px solid rgba(white,0.5)
  font-size 3.5rem
  @media only screen and (min-width : medium)
    font-size 1.7rem
    padding-right 10px

.tour-wrap
  border-radius 10px
  box-shadow 0px 5px 5px rgba(black 0.1)
  position relative
  width 90vw
  height 20vh
  overflow hidden
  margin-bottom 5%
  transition transform 0.2s ease-out

  @media only screen and (min-width : medium)
    height 200px
    margin-bottom 10%
    width 450px

  &:hover,
  &:focus
    cursor pointer
    transform scale(1.02, 1.02)
    transform-origin center

.tour-overlay
  background-color rgba(black 0.5)
  height 100%
  position absolute
  top 0
  width 100%

.tour-thumbnail
  width 100%
  &:hover
    display none

.tour-name
  color white
  font-size 3rem
  letter-spacing 5px
  font-weight lighter
  z-index 2
  position absolute
  text-transform uppercase
  left 5%
  top 10%
  @media only screen and (min-width : large)
    font-size 1.8rem


.list-of-tours
  display flex
  flex-wrap wrap
  margin auto
  justify-content space-around
  width: 100%
  z-index 2
  @media only screen and (min-width : medium)
    width 1000px

.tour-price
  position absolute
  right 5%
  bottom 5%
  z-index 2
  color white
  font-size 3rem
  @media only screen and (min-width : large)
    font-size 1.5rem

.tour-stops
  position absolute
  left 5%
  bottom 7.5%
  z-index 2
  color rgba(white 0.8)
  font-size 2.5rem
  @media only screen and (min-width : large)
    font-size 1.5rem

.initial-view-wrap
  background-color dark-blue

.list-of-tours-wrap
  padding 2rem
  position relative

.tour-detail-wrap
  color white
  width 100vw
  height 100vh
  overflow auto
  background rgba(0, 0, 0, 0.3)
  z-index 0

.tour-detail-container
  margin 2% auto
  padding 0 1%
  position relative
  @media only screen and (min-width : large)
    width 700px

.return-label
  display inline-block
  margin-left 10px

.dummy
  display none

.tour-detail
  background white
  border-radius 10px
  max-width 700px
  margin 2% auto auto auto
  overflow hidden
  position relative
  max-height 80vh

.return-wrap
  width 100%
  text-align center

.tour-detail-return
  color rgba(white,0.7)
  display block
  font-size 1.5rem
  margin auto auto
  transition color,transform .2s ease-out
  text-decoration none
  z-index 2
  &:hover
    color white
    transform translateX(-3px)

.tour-detail-top-wrap
  color white
  height 200px
  overflow hidden
  position relative
  text-shadow 0 1px 0 rgba(0,0,0,0.4)
  width 100%
  z-index 0
  .tour-detail-thumbnail
    position absolute
    width 100%
    transform translateY(-20%)
    z-index 0
  .tour-detail-overlay
    position absolute
    width 100%
    height 100%
    background rgba(black,0.3)
    z-index 1
  .tour-detail-title-wrap
    position absolute
    z-index 2
    font-size 2.5rem
    font-weight bolder
    left 5%
    bottom 10%
  .tour-detail-stops
    z-index 2
    font-size 1.5rem
    font-weight lighter

.cta-section
  text-align center
  transform translateY(-40%)

.tour-detail-desc
  color text-lt-bg
  padding 1rem 2rem

.list-of-stops-wrap
  border-bottom-left-radius 10px
  overflow auto
  max-height 45vh

.list-of-stops
  color text-lt-bg
  list-style-type none
  margin 0
  padding 0

.tour-stop-wrap
  border-bottom 1px solid rgba(text-lt-bg, 0.2)
  height 70px
  position relative
  transition background-color 0.2s ease
  &:hover
    background-color aliceblue
    cursor pointer
  &:last-child
    border none
  &:first-child
    border-bottom 1px solid rgba(text-lt-bg, 0.2)

.stop-figure
  display inline-block
  height 70px

.stop-thumbnail
  display inline-block
  width 70px
  height 70px

.stop-text-wrapper
  display inline-block
  height 100%
  padding 25px 2%
  vertical-align top

.detail-cta-wrap
  background-color rgba(orange, .2)
  border-top-left-radius 50px
  border-top-right-radius 50px
  border 1px solid rgba(orange, .5)
  border-bottom 0
  bottom 0
  width 40%
  padding 1rem 1rem
  position absolute
  text-align center
  left 30%

.cta-label
  display inline-block
  text-shadow 0 -1px 0 rgba(0, 0, 0, .2)

.progress-bar-wrapper
  position absolute
  top 10px
  right 10px

.tour-control
  height 100%
  font-size 1.5rem
  right 27px
  position absolute
  top 22px

.paid-stops
  height 100%
  opacity 0.2
  position relative
  width 100%

.pay-wall-overlay
  height 100%
  left 0
  position absolute
  top 0
  width 100%
  z-index 2

.tour-detail-cta
  background-image linear-gradient(to bottom, lighten(red, 40%), red)
  border 0
  border-radius 10px
  color white
  display inline-block
  font-size 1.5rem
  font-weight lighter
  padding .8rem 1rem
  transition transform 0.2s ease-out
  z-index 3

  &:hover,
  &:focus
    background-image linear-gradient(to bottom, lighten(red, 50%), lighten(red, 10%))
    border-radius 10px
    transform scale(1.05, 1.05)
    transform-origin center
  &:active
    background-image linear-gradient(to bottom, lighten(red, 20%), red)
    outline-width 0
    transform scale(.95, .95)

.detail-price
  text-shadow 0px 1px 1px rgba(black 0.2)
  color orange
  display inline-block
  font-size 2.3rem
  font-weight bolder
  margin-right 13%
