// Import all partials
@require '../node_modules/lost-grid/stylus/lost.styl'
@require './_layout_variables.styl'
@require './_*.styl'

body
  background dark-blue
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-family 'Nunito-Regular', sans-serif

.heyday
  height 100vh
  width 100vw
  margin 0

  & > *
    overflow scroll

header.top
  text-align center
  h1
    font-size 14.4rem
    line-height 0.7 // this font has a wacky baseline
    display flex
    justify-content: center;
  h3
    margin 0
    font-size 2rem
    color orange
    position relative
    display inline-block
    span
      background white
      position relative
      z-index 2
      padding-left 1rem
      padding-right 1rem
    &:before, &:after
      display block
      z-index 1
      background black
      position absolute
      width 130%
      height 1px
      content ''
      top 5px
      margin-left -15%
    &:after
      top auto
      bottom 7px

.background-image
  background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG');
  background-size: cover;
  display: block;
  filter: blur(20px);
  height: 100vh
  left: 0;
  position: fixed;
  right 0
  top 0
  width 100vw
  z-index 0

.background-overlay
  background rgba(blue,0.2)
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top 0
  width: 100%
  z-index 0

button, input[type=submit] // for auth
  background none
  border-radius 10px
  box-shadow: inset 1px 1px 2px rgba(255,255,255,0.1), 0px 2px 4px rgba(0,0,0,0.4)
  font-size 1.5rem
  font-family 'nunito_regular'
  position relative
  z-index 2
  &[disabled]
    color red
    background white
    border-color red
    &:hover
      color red
      cursor not-allowed
    &:after
      display none
  &:after
    content ''
    z-index -1
    display block
    background black
    position absolute
    width 100%
    height 0%
    left 0
    top 0

  // variants
  &.warning
    &:after
      background red
  &.success
    &:after
      background green


  &.facebook-login
    background-image linear-gradient(to bottom, lighten(#3864A3, 40%), #3864A3)
    border 0
    border-radius 10px
    bottom 10%
    color white
    padding 2rem 2.5rem
    text-align center
    text-shadow 0 -1px 0 rgba(0,0,0,0.2)
    transition transform 0.2s ease-out
    @media only screen and (min-width : medium)
      padding .5rem 1.2rem
    .login-label
      transform translateY(-5px)
    &:hover,
    &:focus
      background-image linear-gradient(to bottom, lighten(#3864A3, 50%), lighten(#3864A3, 10%))
      border-radius 10px
      transform scale(1.05, 1.05)
      transform-origin center
    &:active
      transform scale(.9, .9)
      background-image linear-gradient(to bottom, lighten(#3864A3, 20%), #3864A3)

.login-label
  display inline-block
  font-size 4rem
  @media only screen and (min-width : medium)
    font-size 1.3rem

.login-icon
  border-right 1px solid white
  display inline-block
  font-size 5rem
  margin-right 30px
  padding-right 30px
  @media only screen and (min-width : medium)
    border-right 1px solid rgba(white, .4)
    font-size 2rem
    margin-right 15px
    padding-right 15px

.tour-wrap
  border-radius 10px
  box-shadow 0px 5px 5px rgba(black 0.1)
  position relative
  width 90vw
  height 20vh
  overflow hidden
  margin-bottom 5%
  transition transform 0.2s ease-out

  @media only screen and (min-width : medium)
    height 200px
    margin-bottom 10%
    width 450px

  &:hover,
  &:focus
    cursor pointer
    transform scale(1.02, 1.02)
    transform-origin center

.tour-overlay
  background-color rgba(black 0.5)
  height 100%
  position absolute
  top 0
  width 100%

.tour-thumbnail
  width 100%
  &:hover
    display none

.tour-name
  color white
  font-size 4rem
  letter-spacing 5px
  font-weight lighter
  z-index 2
  position absolute
  text-transform uppercase
  left 5%
  top 10%
  @media only screen and (min-width : large)
    font-size 1.8rem

.list-of-tours
  display flex
  flex-wrap wrap
  margin auto
  justify-content space-around
  width: 100%
  z-index 2
  @media only screen and (min-width : medium)
    width 1000px

.tour-price
  position absolute
  right 5%
  bottom 7%
  z-index 2
  color white
  font-size 4rem
  @media only screen and (min-width : large)
    font-size 1.5rem

.tour-stops
  position absolute
  left 5%
  bottom 7.5%
  z-index 2
  color rgba(white 0.8)
  font-size 3rem
  @media only screen and (min-width : large)
    font-size 1.5rem

.initial-view-wrap
  background-color dark-blue
  position relative
  min-height 100vh

.list-of-tours-wrap
  padding 20% 2rem 2rem
  position relative
  @media only screen and (min-width : large)
    padding 100px 2rem 2rem
    position relative

.connect-wrap
  border-radius 10px
  color white
  max-width 700px
  margin 20% auto auto
  overflow hidden
  position relative
  max-height 80vh
  text-shadow 0 1px 1px rgba(0, 0, 0, .3)
  @media only screen and (min-width : large)
    margin 10% auto auto

.auth-section
 font-size 3rem
  padding .5rem 2rem 3rem 2rem
  text-align center

@keyframes spin
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}

.stop-loading
  animation spin 1s infinite linear

.delete-account
  color red
  display block
  text-decoration underline
  text-align left
  margin-top 5%
  &:hover
    cursor pointer

.email-field
  text-align left
  margin-top 1%

.logout-wrapper
  text-align left
  margin-top 3%
  padding-bottom 5%
  border-bottom 1px solid rgba(text-lt-bg,.3)

.logout
  background-color white
  padding .5rem 1rem
  font-size 2rem

.login-button-wrap
  width 100%
  text-align center
